.search-bar-div {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#search-input {
    background-color: #888888;
    appearance: none;
    outline: none;
    border: none;
}

.search-button{
    width: 40px;
    height: 36px;
    border: 1px solid #1a1616;
    background: #1a1616;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}