#page-nav {
	margin-left: auto;
	margin-right: auto;
}

.search-bar-div {
	display: flex;
	justify-content: center;
}

.filter-div {
	display: flex;
	justify-content: center;
}

#customer {
	margin-left: auto;
	margin-right: auto;
}

.list-of-customers-div {
	display: flex;
	flex-direction: column;
}

.cust-box-div{
	display: flex;
	justify-content: center;
}

.cust-box {
	border: 1px solid blue;
}

#add-customer-button {
	position: fixed;
	bottom: 5px;
}

/* Modal */

.customer-info-modal-div {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}