#page-nav {
	margin-left: auto;
	margin-right: auto;
}

.search-bar-div {
	display: flex;
	justify-content: center;
}

.filter-div {
	display: flex;
	justify-content: center;
}

#customer {
	margin-left: auto;
	margin-right: auto;
}

.list-of-customers-div {
	display: flex;
	flex-direction: column;
}

.cust-box-div{
	display: flex;
	justify-content: center;
}

.cust-box {
	border: 1px solid blue;
}