<!DOCTYPE html>
<html>

<head>
	<link rel = "stylesheet" th:href = "@{/css/style.css}">
	<title> Naslovna Strana </title>
</head>

<body>
	<div class = "page-nav-div">
		<table id = "page-nav">
			<tr>
			<td>Podaci</td>
			<td>Kalendar</td>
			<td>Informacije</td>
			</tr>
		</table>
	</div>
	
	<div class = "search-bar-div">
		<input type = "text" placeholder = "Pretraga...">
		<button> Pretraži </button>
	</div>
	
	<div class = "filter-div">
		<button class = "active-filter-button"> Svi </button>
		<button class = "filter-button"> Zavrseni </button>
		<button class = "filter-button"> Nezavrseni </button>
		<button class = "filter-button"> Otkazani </button>
	</div>


</body>
</html>