<!DOCTYPE html>
<html lang="en-us">

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel = "stylesheet" th:href = "@{/css/style.css}">
	<link rel = "stylesheet" th:href = "@{/css/pageNav.css}">
	<link rel = "stylesheet" th:href = "@{/css/search.css}">
	<link rel = "stylesheet" th:href = "@{/css/customerBox.css}">
	<title> Naslovna Strana </title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon/favicon.ico}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src = "@{/js/customer.js}"></script>
</head>

<body>
<header class="nav-menu-header">
	<div class = "page-nav-div">
		<li class="menu-item">
			<a href="index.html" class="nav-btn"> Podaci </a>
		</li>
		<li class="menu-item">
			<a href="index.html" class="nav-btn"> Kalendar </a>
		</li>
		<li class="menu-item">
			<a href="index.html" class="nav-btn"> Informacije </a>
		</li>
		<li class="menu-item">
			<a href="index.html" class="nav-btn"> Kontakt </a>
		</li>
	</div>
</header>
<div class="main-content">
	<div class = "search-bar-div">
		<input type = "text" id="search-input" placeholder = "Pretraga...">
		<button class = "search-button" th:onclick="search()">
			<i class="fa fa-search"></i>
		</button>
	</div>
	
	<div class = "filter-div">
		<button class = "active-filter-button" th:onclick = "filterAll()"> Svi </button>
		<button class = "filter-button" th:onclick = "filterCompleted()"> Zavrseni </button>
		<button class = "filter-button" th:onclick = "filterIncomplete()"> Nezavrseni </button>
		<button class = "filter-button" th:onclick = "filterCancelled()"> Otkazani </button>
		<button class = "filter-button" th:onclick = "filterDeleted()"> Obrisani </button>
	</div>

	<script th:inline="javascript">
		let musterije = [[${musterije}]];
	</script>

	<div class = "list-of-customers-div" id="losd">

	</div>

	<div class = "add-customer-button-div">
		<button id = "add-customer-button" th:onclick="openCustomerModal()"> Dodaj </button>

		<div id="enterInfoModal" class="customer-info-modal-div">
			<div class="modal-content">
				<p> Unesi podatke</p>
				<input type = "text" id = "unesiIme" placeholder="Ime i Prezime">
				<input type = "text" id = "unesiAdresu" placeholder="Adresa">
				<input type = "text" id = "unesiBrojTelefona" placeholder="Broj telefona">
				<input type = "text" id = "unesiOpisKvara" placeholder="Kvar">
				<input type = "text" id = "unesiCenu" placeholder="Cena">

				<button th:onclick="saveCustomerInfo()">Sacuvaj</button>
				<button th:onclick="cancelModal()">Otkazi</button>
			</div>
		</div>
	</div>

	<div id="editInfoModal" class="customer-edit-modal-div">
		<div class="edit-modal-content">
			<p>Izmeni podatke</p>
			<input type = "text" id = "izmeniIme">
			<input type = "text" id = "izmeniAdresu">
			<input type = "text" id = "izmeniBrojTelefona">
			<input type = "text" id = "izmeniOpisKvara">
			<input type = "text" id = "izmeniCenu">
			<select id="izmeniStatus">
				<option value = "incomplete">Nezavrseno</option>
				<option value= "completed">Zavrseno</option>
				<option value = "canceled">Otkazano</option>
			</select>
			<button th:onclick="saveEditedInfo()">Sacuvaj</button>
			<button th:onclick="cancelEditModal()">Otkazi</button>
			<button th:onclick="deleteCustomerInfo()">Obrisi</button>
		</div>
	</div>
</div>
	<script type="text/javascript" th:src = "@{/js/index.js}"></script>

</body>
</html>