<!DOCTYPE html>
<html lang="en-us">

<head>
	<link rel = "stylesheet" th:href = "@{/css/style.css}">
	<title> Naslovna Strana </title>
	<link rel="icon" type="image/x-icon" th:href="@{/favicon/favicon.ico}">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src = "@{/js/customer.js}"></script>
</head>

<body>
	<div class = "page-nav-div">
		<table id = "page-nav">
			<tr>
			<td>Podaci</td>
			<td>Kalendar</td>
			<td>Informacije</td>
			</tr>
		</table>
	</div>
	
	<div class = "search-bar-div">
		<input type = "text" placeholder = "Pretraga...">
		<button> Pretraži </button>
	</div>
	
	<div class = "filter-div">
		<button class = "active-filter-button"> Svi </button>
		<button class = "filter-button"> Zavrseni </button>
		<button class = "filter-button"> Nezavrseni </button>
		<button class = "filter-button"> Otkazani </button>
	</div>

	<script th:inline="javascript">
		var musterije = [[${musterije}]];
	</script>

	<div class = "list-of-customers-div" id="losd">

	</div>

	<script type="text/javascript" th:src = "@{/js/index.js}"></script>

</body>
</html>